@mixin flexcolcenter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  @mixin flexrowcenter {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  
  @mixin flexrowstart {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
  }
  
  @mixin flexrowend {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
  }
  
  @mixin flexcolstart {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
  @mixin flexcolend {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
  }
  
  @mixin flexrowbetween {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  
  @mixin flexcolbetween {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }